<?xml version="1.0"?>
<config>
    <abcd>111</abcd>
    <IP_ENCODER>"192.168.38.31"</IP_ENCODER>
    <IP_ARCHIVAL>"192.168.38.39"</IP_ARCHIVAL>

 <IP_RADIOMETER_22-30>"192.168.38.31"</IP_RADIOMETER_22-30>

<IP_PROCESSING>"192.168.38.3"</IP_PROCESSING>

<LOCAL_DIR>"c:/test_station/Demo/Data"</LOCAL_DIR>

<REMOTE_SOCKET_PORT>27015</REMOTE_SOCKET_PORT>
<REMOTE_DIR>"/FlashDisk/Data"</REMOTE_DIR>
<REMOTE_USER>"admin"</REMOTE_USER>
<REMOTE_PASSWORD>"BEST"</REMOTE_PASSWORD>

<TELNET_PORT>23</TELNET_PORT>
<WEBSERVICE_PORT>23</WEBSERVICE_PORT>

<FTP_PORT>21</FTP_PORT>
<FTP_INTERVAL>1</FTP_INTERVAL>

<LOCAL_DB_DIR>"C:/test_station/Demo/daq.db"</LOCAL_DB_DIR>
<LOCAL_DB_PORT>9191</LOCAL_DB_PORT>

</config>